<form action="/make/match/" method='POST'>
    {% module xsrf_form_html() %}
    <fieldset>
        <label for="name">Match Name</label>
        <input class="form-control" id="name" name="name" type="text" value="">
    </fieldset>

    <fieldset>
        <label for="teama">Team A</label>
        <input class="form-control" id="teama" name="teama" type="text" value="">
    </fieldset>

    <fieldset>
        <label for="teamb">Team B</label>
        <input class="form-control" id="teamb" name="teamb" type="text" value="">
    </fieldset>

    <div class="form-group">
        <label for="start">Start Time</label>
        <div class='input-group date' id='dtp'>
            <input type='text' class="form-control" id="start" name="start" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

     <fieldset>
        <span class="error">{{ error }}</span>
    </fieldset>
    

    <div id="form_btn">
        <input id="signin-btn" class="btn btn-primary" type="submit" value="Start Match" tabindex="3">
    </div>
</form>