{% extends '../templates/base.html' %}

{% block title %}{% end %}

{% block extra_head %}

{% end %}

{% block content %}
  <div class="col-xs-offset-2 col-xs-7">
      <h5>Let's get fucking crazy....</h5>
      <p>seadoggie v0.1</p>
  </div>

  <div class="col-xs-3">
      <div class="pull-right">
          O herro, {{ user }}!
      </div>
      <br>
      <div class="pull-right">
          funds: $<span id='funds' >{{ funds }}</span>
      </div>
      <br>
      <a href="/wallet/" class='pull-right'>add funds</a>
      <br>
      <a href="/logout/" class='pull-right'>logout</a> <br>
  </div>
{% end %}


{% block extra_js %}
  <script src='{{ static_url('js/datasync.js') }}'></script>

  <script src='{{ static_url('js/get_cookie.js') }}'></script>

  <script>

  </script>
{% end %}