{% extends '../templates/base.html' %}


{% block title %}Run Match{% end %}

{% block extra_head %}

{% end %}

{% block content %}
    <div class="col-xs-8 col-xs-offset-2">
        <h1>{{ match['teama'] }} v.s. {{ match['teamb'] }}</h1>
        <h2>{{ match['score'] }}</h2>
        
        <h3>Start {{ match['start'] }}</h3>
        <h3>End {{ match['end'] }}</h3>
        <hr>

        {% if  match['live'] %}
            <h3>Live</h3>
            {% include '_toggle_match_live_form.html' %}

            <h3>Round {{ get_current_round(match['score']) }} </h3>
            
            <form action="/run/match/" method='post' id='update-score'>
                {% module xsrf_form_html() %}
                <input type="hidden" name='name' value="{{ match['id'] }}">
                <button id='teama-won' class='btn btn-primary'>{{ match['teama'] }} Won</button>
                <button id='teamb-won' class='btn btn-primary'>{{ match['teamb'] }} Won</button>
            </form>

        {% else %}
            <h3>Offline</h3>
            {% include '_toggle_match_live_form.html' %}
        {% end %}

        
        <hr>
        <p>Start a match (make it live)</p>
        <p>Identify which team wins each round</p>
        <p>Adjust round end-times to be precise based on video feed.</p>
        <p>Requires human watching the match stream to manage.  Functionality will be supplemented and possibly replaced by a bot.</p>
    </div>
{% end %}

{% block extra_js %}
    <script type='text/javascript'>
        $(document).ready(function(){
            
        });
    </script>

{% end %}