{% extends '../templates/base.html' %}

{% block title %}wallet{% end %}

{% block content %}
<div class="col-xs-offset-4 col-xs-3">
    <h1>[wallet]</h1>
    <p>All of ye' brave seadogs must await the rising tide.</p>
    <form action="/wallet/" method='post'>
        Add some faux coins to your wallet.
        {% module xsrf_form_html() %}
        <input type="submit" class='btn btn-primary' value='Add Funds'>
    </form>
</div>

<div class="col-xs-3">
    <a href="/logout/">logout</a>
</div>
{% end %}


{% block extra_js %}
    <script>
        $(document).ready(function(){
            
        });
    </script>
{% end %}